html {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: 60px; /* Margin bottom by footer height */
    color: rgb(1, 1, 31);
    background-color: #f5f5f5;
    font-family: sans-serif;
}


.container {
    font-size: 18px;
}
/* Portfolio styles */

.portfolio-items-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Poppins', sans-serif;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(75%) saturate(140%);
}

.image-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.logo-wrapper h1 {
    font-weight: 700;
    color: #f5f5f5;
    font-size: 50px;
    margin: 10px 0 0 0;
}

.image-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
    border-color: transparent;
}

.image-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.image-text-wrapper button {
    transition: 1s;
    color: transparent;
    border-color: transparent;
}

.image-text-wrapper:hover button {
    color: lightseagreen;
    border-color: lightseagreen; 
}

.image-text-wrapper button:hover {
    color: white;
    border-color: lightseagreen; 
    background-color: lightseagreen;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* about page styles */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

/*Social Media Footer*/
.social-media-bar {
    margin-left: 80%;
    padding: 0;
}

.social-media-bar a {
    color: rgb(59, 59, 59);
    font-size: 30px;
    margin-left: 15px;
}

.social-media-bar a:hover {
    color: #000;
    background-color: transparent;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px; /* Set the fixed height of the footer here */
    line-height: 20px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    .portfolio-items-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        font-family: 'Poppins', sans-serif;
        background-color: rgb(1, 1, 31);
    }
}
  
/* max width 768px */
@media screen and (max-width: 774px) {
    .portfolio-items-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        font-family: 'Poppins', sans-serif;
        background-color: rgb(1, 1, 31);
    }
}

/* Max width 640px */
@media screen and (max-width: 640px) {
    
}